---
layout: default
---

<section id="home-hero" style="background-image: url('{{ site.baseurl }}/images/appmaking_dots@2x.jpg');"> 
	<h1>{{ site.description }}</h1>
	<!-- <a href="{{ site.eventbrite_url }}" class="featured-link"> 
		<button>I want to learn</button>
	</a>  -->
</section>

<!-- <section id="page-content-container"> -->
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			<!-- INTRO -->
			<section>
				<div class="section-intro">
					<h2>Coding can open doors for you</h2>
					<p>Is <span>‘learn to code’</span> on your list of goals this year?</p><p>Perhaps you teach in a school or your child is learning, you work for a large company or run a small business. Maybe you’re in transition or you have an app idea. Learning to code can empower you.</p><p>Code is a huge part of our daily lives: it powers your phone, your bank account, your social networks... it’s everywhere.</p><span><p class="big">We think it’s essential to understand how code works and to make it work for us.</p></span><p>Learning to code will broaden your skills and make you indispensable in the workplace. You’ll begin to understand the endless possibilities of technology. You’ll have the knowledge to get ideas off the ground and communicate seamlessly with developers (and budding child prodigy programmers).</p><p>People everywhere are cottoning on to this and learning to create on the Web. Even 10 year olds... This is definitely a good thing :) </p>
				</div>
			</section>

			<section>
				<div class="grid grid-pad">
					<div class="col-1-1">
						<div class="section-intro">
							<h2>There’s a course for that!</h2>
							<p>New to coding?  We know it’s tough sifting through the endless resources with no-one to direct all your questions. Learning with others is fun and much easier than hacking away at online courses alone. </p><p>We’re here to make it simple.</p><p> Get started on your learning journey mastering basic HTML, CSS and Javascript. You’ll also learn the foundations of good design and start prototyping your ideas.</p><p>Join us on our 6 week saturday course at Ravensbourne. You don’t need any prior experience. Discuss, learn and make with fellow determined individuals in a friendly, relaxed environment.</p><p>You’ll have access to laptops and lovely experts with plenty of links and resources to take away.</p>
						</div>
					</div>
				</div>
			</section>	

			<!-- IMAGE- COURSE FOR ME? -->
			<section>
				<div class="banner-image" style="background-image: url('{{ site.baseurl }}/images/appmaking_dots@2x.jpg');">
					<h2>Is this course for me?</h2>
				</div>

				<div class="section-intro">
					<h3>Teachers</h3>
					<p>We know a few teachers who feel daunted and unsupported by the new (now year old) computing curriculum. </p><p>With a solid knowledge-base and clear vision of how to build on it, you’ll look forward to, and even enjoy, coding with your students.</p>

					<h3>Parents</h3>
					<p>You could be the cutting-edge parent who codes with their kids for fun :) </p><p>Once you grasp the basics of coding, you’ll be able to get creative with your children, building cool stuff together and supplementing the things they learn at school.</p>
					
					<h3>Up-skillers</h3>
					<p>Perhaps you’re looking for ways to make yourself more valuable in the workplace, or 2016 is the year you’re going to move to a new position, company or  industry.</p><p>Boosting your tech skills will give you a competitive edge and open up new directions in your career.</p>

					<h3>In transition</h3>
					<p>Investing in yourself and your skills is a great way to make some positive life changes for 2016. You may want to explore your career options or take a leap outside of your comfort zone.</p><p>In our personal experience, learning to create with code is hugely empowering and can give you a real confidence boost. You’ll be surprised at just what you can achieve!</p>
				</div>
			</section>

			<!-- PLAN PANELS -->
			<section class="info-panels">
				<div class="section-intro">
					<h2>What's the plan?</h2>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb"> 
						<ul>   
						<li>Get to know each other </li>
						<li>Discuss: what is an app, how do we use them, how do we start building one?</li>
						<li>Introduction to HTML and CSS: create your app home screen</li>
						</ul>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
						<p class="number">01</p>
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb"> 
						<ul>   
							<li>We work together to generate, spec out and test your ideas</li>
							<li>User Experience research: interview people (aka users)</li>
							<li>Get to know JavaScript: connect your app to an online database</li>
						</ul>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
						<p class="number">02</p>
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb"> 
						<ul>   
							<li>Interface design: sketch out your app’s pages</li>
							<li>Learn how to use digital wireframing tools</li>
							<li>Mark up your wireframes with HTML and CSS</li>
						</ul>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
						<p class="number">03</p>
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">    
						<ul>
							<li>Review your wireframes collaboratively</li>
							<li>JavaScript: learn about variables, functions and loops</li>
							<li>Code your app with JavaScript</li>
						</ul>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
						<p class="number">04</p>
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">    
						<ul>
							<li>Make!</li> 
							<li>Test!</li>
							<li>Tweak! Repeat...</li>
						</ul>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
						<p class="number">05</p>
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">
						<ul>    
							<li>Finalise and present your app prototype</li> 
							<li>Celebrate your achievements!</li>
							<li>Take away resources to continue on your app-making journey</li>
						</ul>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
						<p class="number">06</p>
					</div>
				</div>
			</section>

			<!-- HOW MUCH?  -->
			<section>
				<div class="section-intro">
					<h2>How much?</h2>
				</div>
				<div class="info-block">
					<table>
						<tr>
							<td><p><b>A - Greenwich residents on means tested benefits @ £1.00 p/hr</b></p></td>
							<td><p>£24</p></td>
						</tr>
						<tr>
							<td><p><b>B - Greenwich resident over 60 years of age @ £2.10 p/hr</b></p></td>
							<td><p>£50.40</p></td>
						</tr>
						<tr>
							<td><p><b>C - Greenwich Card holders @ £3.25 p/hr</b></p></td>
							<td><p>£78</p></td>
						</tr>
						<tr>
							<td><p><b>D - Greenwich resident without a Greenwich Card @ £3.55 p/hr</b></p></td>
							<td><p>£85.20</p></td>
						</tr>
						<tr>
							<td><p><b>E - Non-Greenwich resident @ £3.80 p/hr</b></p></td>
							<td><p>£91.20</p></td>
						</tr>		
					</table>
					
					<!-- BOOK BUTTON -->
					<div class="register">
						<a href="https://www.eventbrite.co.uk/e/design-and-code-your-own-app-15-16-term-2-gdsdcyoa152-tickets-19058017042" class="featured-link">
						<button>Book your place</button></a>
					</div>
				</div>
			</section>
			
			<!-- WHEN & WHERE? -->	
			<section>
				<div class="section-intro">
					<h2>When and where?</h2>
				</div>
				<div class="info-block">
					<div class="col-1-2 mobile-col-1-1">
						<h3>6 Saturdays</h3>
						<p>13th February - 19th March 2016</br>11AM - 4PM</p>
					</div>
					<div class="col-1-2 mobile-col-1-1">
						<h3>Ravensbourne</h3>
						<p>6 Penrose Way</br>Greenwich Peninsula</br>London</br>SE10 0EW</p>
					</div>

					<!-- BOOK BUTTON -->
					<div class="register">
						<a href="https://www.eventbrite.co.uk/e/design-and-code-your-own-app-15-16-term-2-gdsdcyoa152-tickets-19058017042" class="featured-link"><button>Book your place</button></a>
					</div>
				</div>
			</section>

			<!-- WHO'S TEACHING? -->
			<section>
				<div class="section-intro">
					<h2>Who's teaching?</h2>
					<p><b>Matteo</b> is a senior lecturer for Web Media at Ravensbourne with loads of experience building apps and educational games. He loves teaching and has near-infinite patience.</p>
					<p><b>Yuki</b> is a self-taught JavaScript master and a senior developer at The Mill. He has plenty of inspiring links and JS tricks to share.</p>
					<p><b>Aimee</b> makes websites and clothes. She was in your shoes a year ago, reads puzzled faces and knows when to slow down the pace.</p>
				</div>
			</section>	

			<!-- WHAT TO BRING? -->
			<section>
				<div class="section-intro">
					<h2>What do I need to bring?</h2>
					<p>Laptops are available for everyone.</p>
					<p>We recommend bringing a notebook and pen for jotting down useful resources.</p>
					<p>If you have a laptop which you’re used to, feel free to bring that along. You’ll need to download Google Chrome beforehand.</p>
				</div>
			</section>	

			<!-- TESTIMONIALS -->
			<section class="testimonials">
				<div class="section-intro">
					<h2>What are people saying?</h2>
				</div>
				<div class="grid grid-pad">
					{% for post in site.categories.testimonials %}
					<div class="col-1-2 mobile-col-1-1 single-testimonial">
						{{ content }}
						{% include home-testimonial-snippet.html %}
					</div>
					{% endfor %}
				</div>

				<!-- BOOK BUTTON -->
				<div class="register">
					<a href="https://www.eventbrite.co.uk/e/design-and-code-your-own-app-15-16-term-2-gdsdcyoa152-tickets-19058017042" class="featured-link"><button>Book your place</button></a>
				</div>
			</section>

			<!-- QUESTIONS? -->
			<section>
				<div class="section-intro">
					<h2>More questions?</h2>
					<p>Email Matteo! <b><a href="mailto:m.menapace@rave.ac.uk">m.menapace@rave.ac.uk</a></b></p>
				</div>
			</section>	

			<!-- FAQs -->
			<!-- <div class="faqs">
				<div class="grid grid-pad">        
					<div class="col-1-1">
						<div class="section-intro">
							<h2>FAQS</h2>
						</div>
					</div>
				</div>
				<div class="grid grid-pad">        
					<div class="col-1-1">
						<div class="question">
							<h4>Do I need to bring anything?</h4>
							<p>We provide Macbooks for you to use, however if you have a laptop you prefer using then bring that along.<br>An oldfashioned notebook and pen may be handy for logging important stuff!</p>
						</div>
						<div class="question">
							<h4>Do I need to bring anything?</h4>
							<p>We provide Macbooks for you to use, however if you have a laptop you prefer using then bring that along.<br>An oldfashioned notebook and pen may be handy for logging important stuff!</p>
						</div>
						<div class="question">
							<h4>Do I need to bring anything?</h4>
							<p>We provide Macbooks for you to use, however if you have a laptop you prefer using then bring that along.<br>An oldfashioned notebook and pen may be handy for logging important stuff!</p>
						</div>
						<div class="question">
							<h4>Do I need to bring anything?</h4>
							<p>We provide Macbooks for you to use, however if you have a laptop you prefer using then bring that along.<br>An oldfashioned notebook and pen may be handy for logging important stuff!</p>
						</div>
						<div class="register">
						<a href="https://www.eventbrite.co.uk/e/design-and-code-your-own-app-15-16-term-2-gdsdcyoa152-tickets-19058017042" class="featured-link"><button>Book your place</button></a>
						</div>
						
					</div>
				</div>
			</div> -->

			<!-- MAILCHIMP SIGNUP -->
			<!-- <div class="grid grid-pad">
				<div class="col-1-1"> -->

							<!-- Begin MailChimp Signup Form -->
				
					<!-- <div id="mc_embed_signup">
					<form action="//github.us12.list-manage.com/subscribe/post?u=78e4a79db2cedf88c5c32997a&amp;id=7ecb180797" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
						<h4>Find out about upcoming courses and receive our free Design worksheets</h4>
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
					</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group">
						<label for="mce-FNAME">Name </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div> -->    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<!-- <div style="position: absolute; left: -5000px;"><input type="text" name="b_78e4a79db2cedf88c5c32997a_7ecb180797" tabindex="-1" value=""></div>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" ></div>
							</div>
					</form>
					</div>-->
					<!--End mc_embed_signup-->
				<!-- </div>
			</div> -->

			<!-- BLOG -->
			<!-- <div class="blog-feed-mini">
				<div class="grid grid-pad">
					<div class="col-1-1">
						<div class="section-intro">
							<h2>Blog</h2>
						</div>
					</div>
				</div> -->

				<!-- FEATURED -->
				<!-- <div class="grid grid-pad">
					{% for post in site.categories.featured %}
					<div class="col-1-2">
						{% include home-blog-snippet.html %}
					</div>
					{% endfor %}
				</div> -->

				<!-- ANOTHER CATEGORY -->
				<!-- <div class="grid grid-pad">
					{% for post in site.categories.homepage %}
					<div class="col-1-2"> -->
						<!-- TODO -->
					<!-- </div>
					{% endfor %}
				</div> -->

				<!-- OUTRO -->
				<!-- <div class="outro">
					<div class="grid grid-pad">
						<div class="col-1-1">
							<h4>There's more...</h4>
						</div>
					</div>
				</div> -->
				
		</main>
	</div>
<!-- </section> -->


<!-- WORKSHEETS OPT-IN -->
<!-- <section class="opt-in">
	<div class="grid grid-pad">
		<div class="col-1-1">
			<div class="content">
				<div class="banner-image" style="background-image: url('{{ site.baseurl }}/images/negativespace-14.jpg');">
					<div class="grid grid-pad">        
						<div class="col-1-1">
							<h3>Free printable worksheets</h3>
							<h4>To help you plan and design your own app</h4>
							<a href="#" class="featured-link"><button>Download now</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->