---
layout: default
---

<section id="home-hero" style="background-image: url('{{ site.baseurl }}/images/IMG_0013.jpg');"> 
	<div class="grid grid-pad">
		<div class="col-1-1">
			<h1>{{ site.description }}</h1>
			<a href="{{ site.eventbrite_url }}" class="featured-link"> 
				<button>I want to learn</button>
			</a> 	
		</div>
	</div>
</section>

<section id="page-content-container" class="blog-post-archive">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			<!-- INTRO -->
			<div class="intro">
				<div class="grid grid-pad">        
					<div class="col-1-1">
						<h2>We make it simple!</h2>
						<p>Delve into the design process and code your own prototype over our 6 week Saturday course at Ravensbourne</p>
					</div>
				</div>
			</div>

			

			<!-- INFO PANELS -->
			<div class="info-panels">
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">    
						<h2>01</h2>
						<p>We get started with HTML and CSS: create your app home screen</p>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">    
						<h2>02</h2>
						<p>We get started with HTML and CSS: create your app home screen</p>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">    
						<h2>03</h2>
						<p>We get started with HTML and CSS: create your app home screen</p>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">    
						<h2>04</h2>
						<p>We get started with HTML and CSS: create your app home screen</p>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">    
						<h2>05</h2>
						<p>We get started with HTML and CSS: create your app home screen</p>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
					</div>
				</div>
				<div class="grid grid-pad single-info-panel">
					<div class="col-1-2 info-panel-blurb">    
						<h2>06</h2>
						<p>We get started with HTML and CSS: create your app home screen</p>
					</div>
					<div class="col-1-2 info-panel-image" style="background-image: url('images/UM62EOZSRC.jpg');">
					</div>
				</div>
			</div>

			<!-- TESTIMONIALS -->
			<div class="testimonials">
				<div class="grid grid-pad">        
					<div class="col-1-1">
						<div class="section-intro">
							<h2>What are people saying?</h2>
						</div>
					</div>
				</div>
				<div class="grid grid-pad">
					{% for post in site.categories.testimonials %}
					<div class="col-1-2 mobile-col-1-1 single-testimonial">
						{{ content }}
						{% include home-testimonial-snippet.html %}
					</div>
					{% endfor %}
				</div>
			</div>

			<!-- WHEN, WHERE & HOW?  -->
			<div class="when-where-how">
				<div class="grid grid-pad">        
					<div class="col-1-1">
						<div class="section-intro">
							<h2>When, where and how much?</h2>
						</div>
					</div>
				</div>
				<div class="grid grid-pad">        
					<div class="col-1-1 .mobile-col-1-1">
						<div class="info-block">
							<h4>6 Saturdays from:</h4>
							<p>13th February - 19th March 2016</p>
							<p>11:00am - 16:00pm</p>
						</div>
						<div class="info-block">
							<h4>Ravensbourne:</h4>
							<p>6 Penrose Way</br>Greenwich Peninsula</br>London</br>SE10 0EW</p>
							<h4>Tube:</h4>
							<p>North Greenwich</p>
							
						</div>
						<div class="info-block">
							<h4>Costs</h4>
							<table>
								<tr>
									<td><p><b>A-Greenwich residents on means tested benefits @ £1.00 p/hr</b></p></td>
									<td><p>£24</p></td>
								</tr>
								<tr>
									<td><p><b>B-Greenwich resident over 60 years of age @ £2.10 p/hr</b></p></td>
									<td><p>£50.40</p></td>
								</tr>
								<tr>
									<td><p><b>C-Greenwich Card holders @ £3.25 p/hr</b></p></td>
									<td><p>£78</p></td>
								</tr>
								<tr>
									<td><p><b>D-Greenwich resident without a Greenwich Card @ £3.55 p/hr</b></p></td>
									<td><p>£85.20</p></td>
								</tr>
								<tr>
									<td><p><b>E-Non-Greenwich resident @ £3.80 p/hr</b></p></td>
									<td><p>£91.20</p></td>
								</tr>		
							</table>
							<div class="grid grid-pad">
								<div class="col-1-1">
									<div class="register">
										<a href="https://www.eventbrite.co.uk/e/design-and-code-your-own-app-15-16-term-2-gdsdcyoa152-tickets-19058017042" class="featured-link"><button>Book your place</button></a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<!-- FAQs -->
			<div class="faqs">
				<div class="grid grid-pad">        
					<div class="col-1-1">
						<div class="section-intro">
							<h2>FAQS</h2>
						</div>
					</div>
				</div>
				<div class="grid grid-pad">        
					<div class="col-1-1">
						<div class="question">
							<h4>Do I need to bring anything?</h4>
							<p>We provide Macbooks for you to use, however if you have a laptop you prefer using then bring that along.<br>An oldfashioned notebook and pen may be handy for logging important stuff!</p>
						</div>
						<div class="question">
							<h4>Do I need to bring anything?</h4>
							<p>We provide Macbooks for you to use, however if you have a laptop you prefer using then bring that along.<br>An oldfashioned notebook and pen may be handy for logging important stuff!</p>
						</div>
						<div class="question">
							<h4>Do I need to bring anything?</h4>
							<p>We provide Macbooks for you to use, however if you have a laptop you prefer using then bring that along.<br>An oldfashioned notebook and pen may be handy for logging important stuff!</p>
						</div>
						<div class="question">
							<h4>Do I need to bring anything?</h4>
							<p>We provide Macbooks for you to use, however if you have a laptop you prefer using then bring that along.<br>An oldfashioned notebook and pen may be handy for logging important stuff!</p>
						</div>
						<div class="register">
						<a href="https://www.eventbrite.co.uk/e/design-and-code-your-own-app-15-16-term-2-gdsdcyoa152-tickets-19058017042" class="featured-link"><button>Book your place</button></a>
						</div>
						
					</div>
				</div>
			</div>

			<!-- MAILCHIMP SIGNUP -->

			<!-- <div class="grid grid-pad">
				<div class="col-1-1"> -->

							<!-- Begin MailChimp Signup Form -->
				
					<div id="mc_embed_signup">
					<form action="//github.us12.list-manage.com/subscribe/post?u=78e4a79db2cedf88c5c32997a&amp;id=7ecb180797" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<h4>Find out about upcoming courses and receive our free Design worksheets</h4>
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
					</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group">
						<label for="mce-FNAME">Name </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_78e4a79db2cedf88c5c32997a_7ecb180797" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" ></div>
					    </div>
					</form>
					</div>

					<!--End mc_embed_signup-->
				<!-- </div>
			</div> -->

			<!-- BLOG -->
			<div class="blog-feed-mini">
				<div class="grid grid-pad">
					<div class="col-1-1">
						<div class="section-intro">
							<h2>Blog</h2>
							<!-- <h3>Read about student experiences and find inspiration, tutorials and resources to help you on your learning journey</h3> -->
						</div>
					</div>
				</div>

				<!-- FEATURED -->
				<div class="grid grid-pad">
					{% for post in site.categories.featured %}
					<div class="col-1-2">
						{% include home-blog-snippet.html %}
					</div>
					{% endfor %}
				</div>

				<!-- ANOTHER CATEGORY -->
				<div class="grid grid-pad">
					{% for post in site.categories.homepage %}
					<div class="col-1-2">
						<!-- TODO -->
					</div>
					{% endfor %}
				</div>

				<!-- OUTRO -->
				<div class="outro">
					<div class="grid grid-pad">
						<div class="col-1-1">
							<h4>There's more...</h4>
						</div>
					</div>
				</div>
			</div>	

		</main>
	</div>
</section>


<!-- WORKSHEETS OPT-IN -->

<section class="opt-in">
	<div class="grid grid-pad">
		<div class="col-1-1">
			<div class="content">
				<div class="banner-image" style="background-image: url('{{ site.baseurl }}/images/negativespace-14.jpg');">
					<div class="grid grid-pad">        
						<div class="col-1-1">
							<h3>Free printable worksheets</h3>
							<h4>To help you plan and design your own app</h4>
							<a href="#" class="featured-link"><button>Download now</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>