/***************/
/* MEYER RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gridlover-grid {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size: 2.25rem 2.25rem;
}
.gridlover-grid body {
  box-shadow: 1px 0px 0px rgba(0, 170, 255, 0.3), -1px 0px 0px rgba(0, 170, 255, 0.3);
}

body {
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 0 auto;
}

h1 {
  font-size: 6.375rem;
  line-height: 6.75rem;
  margin-top: 2.25rem;
  margin-bottom: 0rem;
}

h2 {
  font-size: 3.9375rem;
  line-height: 4.5rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

h3 {
  font-size: 2.4375rem;
  line-height: 4.5rem;
  margin-top: 2.25rem;
  margin-bottom: 0rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 2.25rem;
  margin-bottom: 0rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 2.25rem;
  margin-bottom: 0rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 2.25rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

b, strong, em, small, code {
  line-height: 1;
  font-weight: 700;
}

.highlight {
  font-size: 2.4375rem;
  line-height: 1.3;
}

body {
  font-weight: 300;
  font-family: 'Neuton', serif;
}

h1, h2, h3, h4, h5, h6,
.number,
.button,
button, input, select, textarea {
  font-weight: 700;
  font-family: 'Lekton', sans-serif;
  font-style: inherit;
}

.handwriting {
  font-family: 'Pacifico', cursive;
  padding: 0 .25rem;
  font-size: 95%;
}

blockquote {
  font-style: italic;
}

section {
  margin-bottom: 8rem;
  clear: both;
  display: block;
}

.centred {
  text-align: center;
}

body,
button,
input,
select,
textarea {
  color: #111;
}

h1, h2, h3, h4, h5 {
  color: #2A3333;
}

p {
  color: #4d4d4d;
}

a {
  color: #666666;
}
a:hover, a:focus {
  color: #000000;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 3px solid;
  border-color: #404040;
  background: none;
  box-shadow: none;
  color: #404040;
}
button:hover, button:focus, button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  border-color: #000;
  background: #000;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  outline: medium none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* table {
	margin: 0 0 1.5em;
	width: 100%;
} */
/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 12px;
  font-weight: 600;
  text-shadow: none;
  text-transform: uppercase;
  line-height: 1;
  padding: 1.4em 2em 1.2em;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

button.toggle-menu {
  font-size: 18px;
  padding: 6px 12px 8px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  border-radius: 3px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

.grid:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.grid [class*='col-'] {
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.grid .col-1-1 {
  width: 100%;
}
.grid .col-1-2, .grid .col-6-12 {
  width: 50%;
}

#home-hero {
  background-position: top center;
  background-size: cover;
  padding: 9rem 0;
  text-align: center;
}

#home-hero h1
 {
  max-width: 720px;
  margin: 0 auto;
}

/* #home-hero h1 {
	font-size: 8rem;
	line-height: 6rem;
	font-weight: 700;
} */
.banner-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 4.5rem 0;
}

.banner-image .col-1-1 {
  margin-top: 3rem;
}

.info-panels {
  clear: both;
}
.info-panels .single-info-panel {
  clear: both;
  height: 400px;
}
.info-panels .single-info-panel .info-panel-blurb,
.info-panels .single-info-panel .info-panel-image {
  height: 400px;
  float: left;
}
.info-panels .single-info-panel .info-panel-blurb {
  background-color: rgba(215, 215, 206, 0.2);
  padding: 0 2.25rem;
}
.info-panels .single-info-panel .info-panel-image {
  margin: 0 auto;
  display: block;
  background: #ccc;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.info-panels .number {
  position: absolute;
  z-index: 1;
  padding: 4.5rem 3rem 0 !important;
  font-size: 6.375rem;
}
.info-panels .single-info-panel:nth-child(even) .info-panel-blurb {
  left: 50%;
  position: relative;
}
.info-panels .single-info-panel:nth-child(even) .info-panel-image {
  right: 50%;
  position: relative;
}
.info-panels .info-panel-blurb ul {
  padding: 2.25rem;
  padding-left: 4.5rem;
  margin: 0;
}

/*     TESTIMONIALS     */
.testimonials .grid-pad {
  background-color: rgba(215, 215, 206, 0.2);
  padding: 2.25rem 2.25rem;
}
.testimonials .single-testimonial[class*='col-'] {
  padding: 2.25rem;
}
.testimonials .single-testimonial[class*='col-']:nth-child(odd) {
  clear: both;
}
.testimonials .single-testimonial[class*='col-'] .user-pic {
  height: 8rem;
  /* 192px */
  width: 8rem;
  border-radius: 200px;
  background-size: cover;
  margin: 0 auto 2.25rem;
}
.testimonials .single-testimonial[class*='col-'] .user-quote {
  width: 20vw;
  height: auto;
  margin-top: 2rem;
}

.register {
  text-align: center;
  clear: both;
  margin-top: 4.5rem;
}

a.button {
  margin: auto;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1.8rem 3rem 1.6rem;
  border: 0;
  background: #2A3333;
  color: #fff;
  transition: all .3s;
  border-radius: .2rem;
}
a.button:hover {
  background: #000;
}

#primary {
  max-width: 960px;
  margin: 0 auto;
}
#primary p {
  max-width: 720px;
  padding: 0 1rem;
  margin: auto;
  margin-bottom: 2.25rem;
}
#primary .col-1-2 p {
  padding: 0;
}

@media handheld, only screen and (max-width: 767px) {
  .single-info-panel:nth-child(even) .info-panel-blurb {
    left: 0%;
    position: relative;
  }

  .single-info-panel:nth-child(even) .info-panel-image {
    right: 0%;
    position: relative;
  }

  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }

  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
  }

  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px;
  }

  .mobile-col-1-1 {
    width: 100%;
  }

  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
  }

  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}

/*# sourceMappingURL=sassy.css.map */
