/*---------------- AIMEE CSS WARNING -------------------*/



/*     INTRO AND SECTION INTRO    */

.intro h1
{
	text-align: center;
	font-size: 7rem;
}

.section-intro h1
{
	text-align: center;
	font-size: 5rem;
	margin-bottom: 5rem;
}

.intro,
.section-intro
{
	margin: 12rem 0 7rem;
}

.intro h3,
.section-intro .question,
.blog-feed-mini .section-intro h3

{
	margin: 0 12rem 5rem;
}




/*     INFO PANEL     */

.info-panel-blurb
{
	height: 400px;
    display: table;

}

.info-panel-image
{
	height: 400px;
    margin: 0 auto;
    display: block;
    background: #ccc;
    background-position: center center;
    background-size: cover;
}


.single-info-panel:nth-child(even) .info-panel-blurb
{
	left: 50%;
	position: relative;
}

.single-info-panel:nth-child(even) .info-panel-image
{
	right: 50%;
	position: relative;
}


.grid-pad.single-info-panel
{
	padding: 0;
}

.single-info-panel .col-1-2
{
	padding: 0px;
}

.info-panel-blurb h1
{
	font-size: 7rem;
    padding: 7rem 7rem 0;
}

.info-panel-blurb p
{
	padding: 0 7rem;
}




/*     OPT-IN PRE-FOOTER    */

 .opt-in .grid-pad,
 .opt-in .col-1-1
 {
 	padding: 0;
 }

 .opt-in .grid
 {
 	max-width: 2000px;
 	margin-top: 12rem;
 }

.banner-image
{
	height: 21rem;
	background-size: cover;
	width: 100%;
	/*margin: 8rem 0;*/
	text-align: center;
}

.banner-image .col-1-1
{
	margin-top: 3rem;
}




/*     TESTIMONIALS     */
 .user-pic
 {
 	height: 20vw;
 	width: 20vw;
 	border-radius: 200px;
 	background-size: cover;
 }

 .user-quote
 {
 	width: 20vw;
 	height: auto;
 	margin-top: 2rem;
 }




 /*     BLOG MINI-FEED     */

 .archive-news-post
 {
 	position: relative;
 	background-size: cover;
 }

 .archive-news-post h2
 {
 	position: absolute;
 	font-size: 3rem;
 	padding: 7rem 7rem;

 }

 .archive-news-post h2 a
 {
 	color: white;
 	height: 100%;
 }

 .layer
 {
 	background-color: rgba(248, 247, 216, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

.blog-feed-mini .grid-pad,
.blog-feed-mini .col-1-2
{
	padding: 0;
}

/*   OUTRO   */

.outro h2
{
	text-align: center;
	margin-top: 4rem;
}

/*    INFO PANELS    */

.when-where-how .info-block,
#mc_embed_signup
{
	margin: 0 12rem 5rem;
	padding: 2rem 3rem;
	background-color: rgba(203, 232, 226, .4);
	border-bottom: 1rem solid rgba(255, 226, 80, 1);
}

.table .tbody .tr:nth-child(odd)
{
	background-color: #F6FDFF;
}

.when-where-how .register a.featured-link
{
	margin: 0 auto;
}

.register
{
	text-align: center;
}

.register a.featured-link button
{
	padding: 1.8rem 3rem 1.6rem;
	font-size: 1rem;
}

.section-intro .question,
.blog-feed-mini .section-intro h3
{
	margin: 0 12rem 5rem;
}