/*---------------- AIMEE CSS WARNING -------------------*/





body .grid-pad,
body [class*='col-']
{
	padding-left: 0;
	padding-right: 0;
}

/* h1
{
	font-size: 8rem;
}

h2
{
	font-size: 6rem;
}

h3
{
	font-size: 4rem;
}

h4
{
	font-size: 3rem;
}

h5
{
	font-size: 2.25rem;
} */


/* .intro
{
	margin: 12rem 0 7rem;

	h2
	{
		text-align: center;
	}

	p
	{
		margin: 3rem 16rem;
	}	
} */

#primary
{
	max-width: 960px;
	margin: 0 auto;

	p 
	{
		max-width: 720px;
		padding: 0 1rem;
		margin: auto;
		margin-bottom: 2.25rem;
	}

	.col-1-2
	{
		p 
		{
			padding: 0;
		}
	}
}

section
{
	// margin-bottom: 4.5rem;
	margin-bottom: 6.75rem;
	clear: both;
	display: block;
}

.centred
{
	text-align: center;
}

/*     OPT-IN PRE-FOOTER    */

/* .opt-in
{

	.grid-pad,
	.col-1-1
	{
		padding: 0;
	}

	.grid
	{
		max-width: 2000px;
		margin-top: 12rem;
	}

	.banner-image
	{
		background-size: cover;
		width: 100%;
		// margin: 8rem 0;
		text-align: center;

	}

	.banner-image .col-1-1
	{
		margin-top: 3rem;
	}

} */


/*     TESTIMONIALS     */
 
.testimonials
{
	margin-bottom: 4rem;

	.single-testimonial[class*='col-']
	{
		
		padding: 0 3rem 3rem;

		.user-pic
		{
			height: 20vw;
			width: 20vw;
			border-radius: 200px;
			background-size: cover;
			margin: 2rem auto;
		}

		.user-quote
		{
			width: 20vw;
			height: auto;
			margin-top: 2rem;
		}

	}
}


/*     BLOG MINI-FEED     */

/* .blog-feed-mini
{
	.archive-news-post
	{
		position: relative;
		background-size: cover;

		h3
		{
			position: absolute;
			font-size: 3rem;
			padding: 7rem 7rem;
		}

		h3 a
		{
			height: 100%;
		}
	}

	.layer
	{
		background-color: rgba(248, 247, 216, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.grid-pad,
	.col-1-2
	{
		padding: 0;
	}
}
 */
/*   OUTRO   */

.outro 
{
	h4
	{
		text-align: center;
		margin-top: 4rem;
	}
}


/*    INFO PANELS    */

/* .when-where-how 
{
	.info-block
	{
		margin: 0;
		// padding: 0 12rem;
		clear: both;
	}

	table tr td
	{
			padding-right: 1rem;
	}
} */

// FAQS

/* .faqs
{
	.question
	{
		margin: 0 0 5rem;
		padding: 0 12rem;
	}
} */

// REGISTER BUTTON

.register
{
	text-align: center;
}

a.featured-link button
{
	padding: 1.8rem 3rem 1.6rem;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 4rem auto 0;
}

a.featured-link
{
	margin: 0 auto;
	text-align: center;
}

// BANNER IMAGES

.banner-image
{
	background-position: center;
	background-size: cover;
	width: 100%;
	/*margin: 8rem 0;*/
	text-align: center;
	padding: 4.5rem 0;
}

.banner-image .col-1-1
{
	margin-top: 3rem;
}


