$black: #000;
$charcoal: #2A3333;
$clouds: #4d4d4d;
$white: #fff;

body,
button,
input,
select,
textarea
{
	color: #111;
}

h1, h2, h3, h4, h5
{
	color:$charcoal;
}

p
{
	color: $clouds;
}
a 
{
	color: #666666;

	&:hover,
	&:focus
	{
		color: #000000;
	}
}	

button,
input[type="button"],
input[type="reset"],
input[type="submit"] 
{
	border: 3px solid;
	border-color: #404040;
	background: none;
	box-shadow: none;
	color: #404040;

	&:hover,
	&:focus,
	&:active 
	{
		border-color: #000;
		background: #000;
		color: #fff;
	}	
}	

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;

	&:focus {
		color: #111;
	}
}