.info-panels
{
	clear: both;

	.single-info-panel
	{
		clear: both;
		height: $row * 11;

		.info-panel-blurb,
		.info-panel-image
		{
			height: $row * 11;
			float: left;	
		}

		.info-panel-blurb
		{
			// display: table;
			background-color: rgba(215,215,206,0.2);
			padding: 0 $row ;	
		}

		.info-panel-image
		{
			margin: 0 auto;
			display: block;
			// background: #ccc;
			background-position: center center;
			background-size: cover;
			position: relative;
		}
	}

	.number
	{
		position: absolute;
		z-index: 1;
		padding: $row * 2 3rem 0 !important;
		font-size: 6.375rem; // like h1
	}

	.white
	{
		color: $white;
		text-shadow: -2px 2px .5rem $charcoal;
	}

	.single-info-panel:nth-child(even) .info-panel-blurb
	{
		left: 50%;
		position: relative;
	}

	.single-info-panel:nth-child(even) .info-panel-image
	{
		right: 50%;
		position: relative;
	}
}	