.info-panels
{
	clear: both;

	.single-info-panel
	{
		// padding: 0;
		clear: both;
		height: 400px;

		.info-panel-blurb,
		.info-panel-image
		{
			height: 400px;
			float: left;	
		}

		.info-panel-blurb
		{
	    	// display: table;
	    	background-color: whitesmoke;	
		}

		.info-panel-image
		{
		    margin: 0 auto;
		    display: block;
		    background: #ccc;
		    background-position: center center;
		    background-size: cover;
		    position: relative;
		}
	}

	.number
	{
		position: absolute;
		z-index: 1;
		padding: 4.5rem 3rem 0 !important;
		font-size: 6.375rem;
	}

	.single-info-panel:nth-child(even) .info-panel-blurb
	{
		left: 50%;
		position: relative;
	}

	.single-info-panel:nth-child(even) .info-panel-image
	{
		right: 50%;
		position: relative;
	}

	.info-panel-blurb ul
	{
		padding: 2.25rem;
		padding-left: 4.5rem;
	    margin: 0;
	}
}	