/*    MAILCHIMP FORM   */

#mc_embed_signup
{
	clear:left;
	margin: 0 12rem 5rem;
	padding: 2rem 3rem;
	background-color: rgba(203, 232, 226, .4);
	border-bottom: 1rem solid rgba(255, 226, 80, 1);


	input[type="submit"]
	{
		border: 3px solid;
	}

	.mc-field-group
	{
		width: 47%;
		float: left;
		margin: 0.5rem;
		clear: none;
	}

	form
	{
		padding: 0;
	}
}

#mc-embedded-subscribe
{
	margin: 2rem auto;
}